@import './variaveis';

.container {
    min-height: 70vh ;
    display: flex;
    margin: 3rem 6rem;

    div {
        margin: 1rem 0;
        flex-basis: 33.33%;
    }

    h2 {
        font-weight: $font-bold;
        color: $cor-secundaria-verde;
        font-size: 3.5rem;
        margin: 0;
    }
    
    p{
        line-height: 2;
        font-size: 1.1rem;
     }

    a {
        color: $cor-primaria;
    }

    .saiba-sobre{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        a{
            margin: 2rem 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: all 1s;

        &:hover{
            transform: scale(1.1);
        }
        }

        svg {
            margin: 0 1rem;
        }
    }

}

.container-2{
    min-height: 70vh;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6rem;

    div {
        margin: 1rem 0;
        flex-basis: 33.33%;
    }

    h2 {

        font-weight: $font-bold;
        color: $cor-secundaria-verde;
        font-size: 3.5rem;
        margin: 0;
    }
    
    p{
        line-height: 2;
        font-size: 1.1rem;
     }

}

.container-3{
    min-height: 70vh;
    display: none;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 6rem;

    div {
        margin: 1rem 0;
        flex-basis: 33.33%;
    }

    h2 {
        font-weight: $font-bold;
        color: $cor-secundaria-verde;
        font-size: 3.5rem;
        margin: 0;
    }
    
    p{
        line-height: 2;
        font-size: 1.1rem;
     }

}