.registrar-container {
    display: flex;
}

input {
    display: block;
    margin-bottom: 10px; /* opcional, adiciona um espaço entre os inputs */
}

input[type="radio"] {
    display: inline;
    margin-left: 10px; /* opcional, adiciona um espaço entre os inputs */
}

span{
    padding: 10px;
}

img{
    width: 30%;
}

.botao {
    margin: 16px 0;
    padding: 12px;
    width: 280px;
    background-color: #1778f2;
    cursor: pointer;
    text-align: center;
}