@import "./animacoes";
@import "./variaveis";
@import "./funcoes";


.container-auth {
    display: flex;
    justify-content: space-between;
    margin: 1rem 6rem;
    min-height: 85vh ;

    .auth-descricao {

        div {
            margin: 3rem 0;
        }

        h2 {
            font-weight: $font-bold;
            color: $cor-secundaria-verde;
            font-size: 3.5rem;
            margin: 0;
        }

        a {
            color: $cor-primaria;
        }
    }

    .image-login {
        // position: absolute;
        margin-top: 2rem;
        top: 0rem;
        left: 0rem;
        width: 30rem;
        height: 30rem;
    }

    .image-cadastro {
        position: absolute;
        top: 15rem;
        left: 22rem;
        width: 22rem;
        height: 22rem;
    }

    form {
        margin: 4rem 0 3rem 0;
        text-align: left;
        width: 23rem;

        p {
            text-align: center;
        }

        input {
            display: block;
            padding: $espacamento-padrao;
            width: 21.5rem;
            height: 1.5rem;
            border: none;
            border-radius: $border-radius-padrao;
            background-color: #fff;
            box-shadow: 0px 10px 20px -18px;
            margin-bottom: $espacamento-vertical;
            font-size: 0.9rem;
        
            &:focus {
                outline: none;
            }
            &:hover{
                outline: 1px solid lightgrey;
            }

            &::placeholder {
                font-size: $font-span;
                color: $cor-secundaria-opacity;
                font-family: $font-family-padrao;
                font-weight: $font-thin;
            }

            &[type="radio"] {
                display: inline-block;
                margin: 0 0 0 $espacamento-padrao;
                width: 1rem;
                box-shadow: none;
            }

            &.input-menor {
                display: inline-block;
                width: 3.5rem;
                margin-right: 1rem;
            }

            &.input-medio {
                display: inline-block;
                width: 15.5rem;
            }
        }

        span {
            padding: $espacamento-padrao;
            display: block;
            font-size: $font-span;
            color: $cor-secundaria-opacity;

            &.tipo {
                display: inline-block;

            }

            &.obrigatorio {
                text-align: right;
                margin: 1.5rem 0;
            }

            &.esqueceu-senha {
                text-align: right;
                margin-top: 2rem;
            }

            &.continue-redes {
                text-align: center;
                margin: 2rem;
            }

            &.message-error {
                color: red;
                padding: 0.5rem 0;
            }
        }

        .icons-login {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            padding: 0 $espacamento-padrao*2;
        }
    }

    .animacao {
        &-entrar {
            animation: animacaoEntrar 1s;
        }

        &-sair {
            animation: animacaoSair 1s;
        }

        &-voltar-entrar {
            animation: animacaoVoltarEntrar 1s;
        }

        &-voltar-sair {
            animation: animacaoVoltarSair 1s;
        }

        &-subir {
            animation: animacaoSubir 1s;
        }

        &-mecher-caixas {
            animation: mexerCaixas 20s ease-in-out infinite;
        }
    }

}