@import './variaveis';

.container {
    display: flex;
    margin: 2rem 6rem;
    min-height: 85vh;

    div {
        flex-basis: 50%;
    }

    h2 {
        font-weight: $font-bold;
        color: $cor-secundaria-verde;
        font-size: 3.5rem;
        margin: 0;
    }

    p {
        line-height: 2;
        font-size: 1.1rem;
        text-align: justify;
    }

    a {
        color: $cor-primaria;
    }


}