@import "../styles/animacoes";

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    width: 100vw;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 3px solid #ccc;
        border-top-color: #333;
        animation: loading-spinner 0.8s linear infinite;
      }
  }
