.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 8rem;
}

.navbar img {
    width: 2rem;
    padding: 1rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: 0;
}

.navbar h1 {
    margin: 0;
}

.nav-link,
.nav-auth {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-link li:not(:last-child) a {
    margin-right: 1.5rem;
}

.nav-link a {
    position: relative;
    padding: 2rem 1rem 0.5rem;
    font-size: 1rem;
}

.nav-link a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    transition: all 0.3s ease-out;
}

.nav-link a.active::before {
    background-color: #000;
}

.nav-auth a{
    padding: 1rem 1.5rem;
    color: #1778f2;
    border-radius: 1.5rem;
    transition: all 0.3s ease-out;    
}

.nav-auth .active {
    background-color: #fff;
}

.nav-auth svg{
    font-size: 24px;
    color: red;
}
