@import "./variaveis";

body {
    font-family: $font-family-padrao;
    font-weight: $font-thin;
    color: $cor-primaria;
    background-color: $cor-quartenaria-opacity;
    background-image: url("../../public/assets/img/fundopoa.svg");
    background-size: 100rem;
    background-repeat: no-repeat;
    background-position: -25rem -16rem;

    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $cor-terciaria-opacity
    }

    .inventory {
        font-weight: 300;
        /* Font-weight padrão da logo*/
    }

    a {
        text-decoration: none;
    }
}